@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body {
    background-color: white;
    font: normal 12pt Arial;
}


button {
    font: normal 12pt Arial;
    padding: 30px;
    text-align: center;   
    display: inline-block;
}


header {
    color: black;
    font: normal 25pt Arial;
    font-family: 'Pacifico', cursive; 
    font-weight: normal;
}

h3 {
    color: black;
    font: normal 18pt Arial;
    font-family: 'Pacifico', cursive; 
    font-weight: normal;  
}



